@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Web.Common.PublishedModels;
@{
    bool.TryParse(ViewData["name"]?.ToString()!, out bool error_name);
    bool.TryParse(ViewData["email"]?.ToString()!, out bool error_email);
    bool.TryParse(ViewData["massege"]?.ToString()!, out bool error_massege);
    bool.TryParse(ViewData["phonenumber"]?.ToString()!, out bool error_phonenumber);
}
@using (Html.BeginUmbracoForm("HandelSubmit", "ContactSurface", FormMethod.Post))
{
    <div id="form-name" class="form-input">
    @*     <label class="form-lable" for="name">Name</label> *@
        <input id="name" name="name" type="text" placeholder="Enter your name" class="form-input" value="@ViewData["name"]" />
        <span class="form-input-error @((error_name) ? "form-invalid-input" :null)">You must enter your name</span>
    </div>
    <div id="form-email" class="form-input">
    @*     <label class="form-lable" for="email">E-mail address</label> *@
        <input id="email" name="email" type="email" placeholder="Enter your e-mail address" class="form-input" value="@ViewData["email"]" />
        <span class="form-input-error @((error_email) ? "form-invalid-input" :null)">You must enter an valid e-mail address</span>
    </div>
    <div id="form-phonenumber" class="form-input">
        @*     <label class="form-lable" for="phonenumber">Phone</label> *@
        <input id="phonenumber" name="phonenumber" type="number" placeholder="Enter your phone number" class="form-input" value="@ViewData["phonenumber"]" />
        <span class="form-input-error @((error_phonenumber) ? "form-invalid-input" :null)">You must enter a phone number</span>
    </div>
    <div id="form-massege" class="form-input">
    @*     <label class="form-lable" for="massege">Massege</label> *@
        <textarea id="massege" name="massege" placeholder="Enter your massege..." class="form-textarea">@ViewData["massege"]</textarea>
        <span class="form-input-error @((error_massege) ? "form-invalid-input" :null)">You must enter a massege</span>
    </div>
    <button type="submit" class="form-button">Submit</button>
}

